VITE_BACKEND_URL=http://localhost:4000
VITE_SUPABASE_URL="https://tidiopnzivrhapeszwoq.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpZGlvcG56aXZyaGFwZXN6d29xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNjY5MDksImV4cCI6MjA4OTk0MjkwOX0.cCGzMRPbM0v9ccZkDwwBvXfm5r2aKel-UfSuEBImi7g"
